# Preliminaries

We download the data:

In [1]:
! wget https://gitlab.com/andras.simonyi/10_days_AI_training_data/raw/65de5908dccf120762b305238e02610a8c18a3f9/titanic_train.csv

--2022-05-08 14:45:49--  https://gitlab.com/andras.simonyi/10_days_AI_training_data/raw/65de5908dccf120762b305238e02610a8c18a3f9/titanic_train.csv
Resolving gitlab.com (gitlab.com)... 172.65.251.78, 2606:4700:90:0:f22e:fbec:5bed:a9b9
Connecting to gitlab.com (gitlab.com)|172.65.251.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61194 (60K) [text/plain]
Saving to: ‘titanic_train.csv’

titanic_train.csv   100%[===================>]  59.76K  --.-KB/s    in 0.01s

2022-05-08 14:45:49 (5.73 MB/s) - ‘titanic_train.csv’ saved [61194/61194]

# A perceptron implementation in NumPy

We create a Perceptron class, which mimics scikit-learn estimators by providing a `fit` and a `predict` method:
+ The `predict` method returns a vector of predictions for an array of samples, while 
+ the `fit` method initializes the model parameters and trains the model using the perceptron learning rule.

In [ ]:
# model.fit(X_train,y_train) # model training: fit

In [2]:
import numpy as np
from numpy.random import permutation, seed

seed(12) # Fix the random seed

class Perceptron:
    """A simple implementation of the classic single-neuron perceptron model.

    Attrs:
        fitted (bool): Whether the model has been fitted.
        n_features (int): Number of input features.
        weights (numpy array): The model's weights.
        bias (float): The model's bias.
    """

    def __init__(self):
      self.neuron_count = 1
      self.fitted = False

      """Create a perceptron model.

      Returns:
          A new perceptron instance.
      """
    # ["Ev Oda Sayısı","Metrekaresi"] - [10000000]
    def fit(self, X, y, n_epochs=10, lr=0.01):
        """Fit the model to a data set.

        Args:
            X (numpy array of shape (n_samples, n_features)): Training data.
            y (numpy array of shape (n_samples,)): Target binary labels.
            n_epochs (int): Number of training epochs.
            lr (float): Learning rate.
        """
        self.n_samples, self.n_features = X.shape #(10, 5)
        
        
        # Initialization
        # As we know, the ONLY neural model that can be initialized to zeroes
        # is the Perceptron, if we use the perceptron learning rule.
        # Please initialize the weights and biases to zero!
        # Use Numpy!
        # Bear in mind, that the weights are a VECTOR, not a one dimensional matrix!
        # Bias is a scalar.
        self.weights = np.zeros(self.neuron_count * self.n_features)
        self.bias = 0

        # Training
        # Implement the main loop, use the epoch parameter!
        #X, y, n_epochs, lr
        
        shuffled_idx = np.random.permutation(self.n_samples)

        for x in range(1, n_epochs+1):
            print("Starting epoch: ", x)
            # return x

            # Random shuffle - in  a tricky way.
            # Generate a permutation mask with numpy 
            # which we will use to index into the data, thus realizing "shuffling".
            # Numpy has a permutation function. 
            # Please bear in mind, how many datapoints do we have. 
            # We have a variable for it above...

            # Do the epoch!
            # Observe the trick, please!
            # We use the permutation mask to index into X and y,
            # and we generate and iterator of tuples.
            # Then we parse the individual tuples (x,y pairs), and loot through them.

            # Choose X and y's according to the order of shuffled_idx
            X_y_pairs = []
            
            for idx in shuffled_idx:
              selected_X = list(np.take(X, idx, axis = 0))
              selected_y = np.take(y, idx, axis = 0)

              if selected_y == 0:
                selected_y = -1

              X_y_pairs.append((np.array(selected_X), np.array(selected_y)))
            # ŞURADA KALDIK HATA VAR
            # selected_X @ self.weights + self.bias
       
            for features, label in X_y_pairs:
              # true label : label

              prediction = features @ self.weights + self.bias
              # ["F","T"]
              #-1
              
            #for x, label in zip(X[perm], y[perm]) #: you can uncomment this, if you have understood.
                # Please convert the 1/0 label to 1/-1 label
                # 1 should remain 1, 0 should become -1
                # Use some easy mathematics, or whatever you feel like.
                #y_ = 
            
                
                # Implement the update rule!
                # If the simple product of the output of our neuron and the true label is
                # less than or equal to zero (negative), we will update.
                # Remember, the activation is W times x plus the bias. wx+b
                # Please bear in mind, that the "times" here is denoting the dot product!
              if (prediction * label) <= 0: # 0 - 1 | -1 - 1
                    # So, we have an error. We should "update" the weights and the bias!
                    # We just add to the weight the multiplication of the input vector 
                    # and the true label, multiplied by the learning rate 
                    # (we have a parameter for that).
                    self.weights += features * (label * lr)
                    # For the bias wehave the "virtual input" of 1, so we only add true label 
                    # multiplied by the learning rate.
                    self.bias += label * lr
                
                # Lo and behold, THAT'S IT!
                # We have implemented a perceptron!
        
        
        self.fitted = True
        print("Finished training.")
        
    def predict(self, X):
        """Predict labels for samples.
        
        Args:
            X (numpy array of shape (n_samples, n_features)):  Samples.

        Returns:
            A numpy array of shape (n_samples,) containing the predicted labels.
        """
        if not self.fitted:
            raise ValueError("Perceptron model is not fitted")
        elif X.shape[1] != self.n_features: # (799, 9)
            raise ValueError(f"Incorrect number of input features (expected {self.n_features})")
        else:
            
            # Please think through and explain the trainer, WHY this is a matmul!?
            # You can remove the line, just here to make you think.
            activations = X @ self.weights + self.bias
            signs = np.sign(activations).astype(int) 
            # Tricky conversion of signs to 0/1 labels
            return (signs + signs * signs) // 2

# Trying it out -- on the Titanic data set

Short description of the data set:

> The titanic [...] data frames describe the survival status of individual passengers on the Titanic.

> Non-obvious variables:

>- Pclass -- Passenger Class  (1 = 1st; 2 = 2nd; 3 = 3rd)
>- Survived -- Survival  (0 = No; 1 = Yes)
>- SibSp -- Number of Siblings/Spouses Aboard
>- Parch -- Number of Parents/Children Aboard
>- Fare (ticket price in British pound)
>- Embarked -- Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split


df = pd.read_csv("titanic_train.csv")

For the sake of simplicity, we divide our data only into a training and a validation part:

In [4]:
df_train, df_valid = train_test_split(df, test_size=0.1)
df_train.reset_index(inplace=True)
df_valid.reset_index(inplace=True)
print("train shape:", df_train.shape)
print("validation shape:", df_valid.shape)

train shape: (801, 13)
validation shape: (90, 13)

## Inspecting and cleaning the data

In [5]:
df_train.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,715,716,0,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.0,0,0,348124,7.6500,F G73,S
1,319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.0,1,1,16966,134.5000,E34,C
2,829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
3,79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.0,0,0,364516,12.4750,NaN,S
4,484,485,1,1,"Bishop, Mr. Dickinson H",male,25.0,1,0,11967,91.0792,B49,C

In [6]:
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
index,801.0,439.566792,256.901656,0.00,216.0000,441.0,659.0,890.0000
PassengerId,801.0,440.566792,256.901656,1.00,217.0000,442.0,660.0,891.0000
Survived,801.0,0.383271,0.486487,0.00,0.0000,0.0,1.0,1.0000
Pclass,801.0,2.309613,0.834578,1.00,2.0000,3.0,3.0,3.0000
Age,642.0,29.634097,14.516042,0.42,20.0000,28.0,38.0,80.0000
SibSp,801.0,0.518102,1.120261,0.00,0.0000,0.0,1.0,8.0000
Parch,801.0,0.373283,0.786915,0.00,0.0000,0.0,0.0,5.0000
Fare,801.0,32.386844,50.556727,0.00,7.8958,14.4,31.0,512.3292

In [7]:
df_train.isna().sum()

index            0
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            159
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          622
Embarked         2
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Based on our inspection, we drop the Cabin, Ticket, PassengerId, Name and index columns, since they are unusable for the prediction task:

In [9]:
df.select_dtypes(exclude=["object"]).head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [10]:
columns_to_drop = ["Cabin", "Ticket", "PassengerId", "Name", "index"]
df_train = df_train.drop(columns=columns_to_drop)
df_valid = df_valid.drop(columns=columns_to_drop)
df_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         0       3    male  19.0      0      0    7.6500        S
1         1       1  female  40.0      1      1  134.5000        C
2         1       1  female  62.0      0      0   80.0000      NaN
3         1       3  female  30.0      0      0   12.4750        S
4         1       1    male  25.0      1      0   91.0792        C

We encode the the gender of passenger by numbers, and, as a primitive form of data imputation, replace missing age values with the mean age in the training data:

In [11]:
age_mean = df_train.Age.mean()
replacements = {"Sex": {"male": 1, "female":0}, "Age": {np.NaN: age_mean}}
df_train.replace(replacements, inplace=True)
df_valid.replace(replacements, inplace=True)
df_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0         0       3    1  19.0      0      0    7.6500        S
1         1       1    0  40.0      1      1  134.5000        C
2         1       1    0  62.0      0      0   80.0000      NaN
3         1       3    0  30.0      0      0   12.4750        S
4         1       1    1  25.0      1      0   91.0792        C

We drop the remaining rows with missing data:

In [12]:
print("Train and test length before dropping:", len(df_train), len(df_valid))
df_train.dropna(inplace=True)
df_train.reset_index()
df_valid.dropna(inplace=True)
df_valid.reset_index()
print("Train and test length after dropping:", len(df_train), len(df_valid))

Train and test length before dropping: 801 90
Train and test length after dropping: 799 90

Finally, we one-hot encode the Embarked column.

In [13]:
df_train = pd.get_dummies(df_train)
df_valid = pd.get_dummies(df_valid)
df_train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,19.0,0,0,7.6500,0,0,1
1,1,1,0,40.0,1,1,134.5000,1,0,0
3,1,3,0,30.0,0,0,12.4750,0,0,1
4,1,1,1,25.0,1,0,91.0792,1,0,0
5,0,3,1,70.5,0,0,7.7500,0,1,0

## Fitting a perceptron

In [14]:
df_train.columns.values

array(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked_C', 'Embarked_Q', 'Embarked_S'], dtype=object)

In [15]:
p = Perceptron()

input_cols = list(df_train.columns.values)[1:]

X_train = df_train[input_cols].to_numpy()
y_train = df_train.Survived.to_numpy()

In [16]:
p.fit(X_train, y_train, n_epochs=100, lr=0.001)

Starting epoch:  1
Starting epoch:  2
Starting epoch:  3
Starting epoch:  4
Starting epoch:  5
Starting epoch:  6
Starting epoch:  7
Starting epoch:  8
Starting epoch:  9
Starting epoch:  10
Starting epoch:  11
Starting epoch:  12
Starting epoch:  13
Starting epoch:  14
Starting epoch:  15
Starting epoch:  16
Starting epoch:  17
Starting epoch:  18
Starting epoch:  19
Starting epoch:  20
Starting epoch:  21
Starting epoch:  22
Starting epoch:  23
Starting epoch:  24
Starting epoch:  25
Starting epoch:  26
Starting epoch:  27
Starting epoch:  28
Starting epoch:  29
Starting epoch:  30
Starting epoch:  31
Starting epoch:  32
Starting epoch:  33
Starting epoch:  34
Starting epoch:  35
Starting epoch:  36
Starting epoch:  37
Starting epoch:  38
Starting epoch:  39
Starting epoch:  40
Starting epoch:  41
Starting epoch:  42
Starting epoch:  43
Starting epoch:  44
Starting epoch:  45
Starting epoch:  46
Starting epoch:  47
Starting epoch:  48
Starting epoch:  49
Starting epoch:  50
Starting epoch:  51
Starting epoch:  52
Starting epoch:  53
Starting epoch:  54
Starting epoch:  55
Starting epoch:  56
Starting epoch:  57
Starting epoch:  58
Starting epoch:  59
Starting epoch:  60
Starting epoch:  61
Starting epoch:  62
Starting epoch:  63
Starting epoch:  64
Starting epoch:  65
Starting epoch:  66
Starting epoch:  67
Starting epoch:  68
Starting epoch:  69
Starting epoch:  70
Starting epoch:  71
Starting epoch:  72
Starting epoch:  73
Starting epoch:  74
Starting epoch:  75
Starting epoch:  76
Starting epoch:  77
Starting epoch:  78
Starting epoch:  79
Starting epoch:  80
Starting epoch:  81
Starting epoch:  82
Starting epoch:  83
Starting epoch:  84
Starting epoch:  85
Starting epoch:  86
Starting epoch:  87
Starting epoch:  88
Starting epoch:  89
Starting epoch:  90
Starting epoch:  91
Starting epoch:  92
Starting epoch:  93
Starting epoch:  94
Starting epoch:  95
Starting epoch:  96
Starting epoch:  97
Starting epoch:  98
Starting epoch:  99
Starting epoch:  100
Finished training.

In [17]:
y_train_predicted = p.predict(X_train)

X_valid = df_valid[input_cols].to_numpy()
y_valid = df_valid.Survived.to_numpy()

y_valid_predicted = p.predict(X_valid)

Let's see the metrics on our training and validation data:

In [18]:
from sklearn.metrics import classification_report

print(classification_report(y_train, y_train_predicted, labels=[1], target_names=["Survivor"]))

              precision    recall  f1-score   support

    Survivor       0.40      0.93      0.56       305

   micro avg       0.40      0.93      0.56       305
   macro avg       0.40      0.93      0.56       305
weighted avg       0.40      0.93      0.56       305

In [19]:
print(classification_report(y_valid, y_valid_predicted, labels=[1], target_names=["Survivor"]))

              precision    recall  f1-score   support

    Survivor       0.38      0.86      0.53        35

   micro avg       0.38      0.86      0.53        35
   macro avg       0.38      0.86      0.53        35
weighted avg       0.38      0.86      0.53        35